<%- include('partials/header'); -%>

    <h1>About</h1>
    <p>
        <%= content2 %>
    </p>
    <p> Hello and welcome to my website!
        <br>
        <br>
        My name is Hashim Muneeb, and I am a web developer currently studying at COMSATS University.
        <br>
        <br>
        As a web developer, I am passionate about creating intuitive and visually appealing websites that deliver a
        seamless user experience. My expertise lies in developing websites using various programming languages and
        frameworks such as HTML, CSS, JavaScript, React, and Node.js. I strive to stay up-to-date with the latest
        technologies and trends in the industry to ensure that my websites are always modern and cutting-edge.
        In addition to my technical skills, I also have a strong eye for design and aesthetics. I believe that a website
        should not only be functional but also visually appealing to its users. Therefore, I always aim to create
        websites that are both functional and visually appealing.
        I am constantly seeking new challenges and opportunities to enhance my skills and knowledge. I believe that
        learning is a never-ending process, and I am always eager to expand my knowledge and expertise in web
        development.
        <br><br>
        Thank you for visiting my website, and please feel free to contact me if you have any questions or would like to
        discuss a potential project. I look forward to working with you!
    </p>

    <%- include('partials/footer'); -%>